body {
  position: relative;
  box-sizing: border-box;
  width:  100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../img/galaxy_starfield.png") repeat black fixed;
  background-position: right 0px bottom 0px;
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

hr {
  border-top: 1px dashed #2ad655;
}
.navbar-brand {
  display:none;
}
.index-container {
  margin: 0 auto;
}
.index-heading {
  background: black;
  margin: -2em -2em 0 -2em;
  padding: 1em;
}

#screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen .index-heading > h1 {
  margin-top: 0;
  display: inline;
  font-size: 26px;
}
#sub-index-heading {
  float: right;
  display:inline;
  font-size: 15px;
}

.post-title {
  font-size: 19px;
}

.post-subtitle {
  font-size: 17px;
}

.post-meta {
  font-size: 12px !important;
  color: #2ad655 !important;
}

.post-preview > a {
  text-decoration: none;
  color: #2ad655;
}

.post-preview > a:hover {
  color: white;
  cursor: pointer;
}

footer > .container > .row {
  margin-top: -115px;
}

.next a, .previous a {
  border: none !important;
  background: none !important;
  color: white;
}

/* .copyright {
  display:none;
} */

@media only screen and (max-width: 768px) {
  #screen {
    width:100%;
    margin: 0;
    padding-top: 4em;
    height: 100vh;
  }
  canvas {
    display:none;
  }
  .index-container {
    padding-bottom: 4em;
  }
}


.fa-stack {
  color: #2ad655;
}