---
layout: default
---

<!-- Page Header -->
<img id="earth" style="z-index: -3;height:20vh;" src="{{ site.baseurl }}/img/earth.png" />
<img class="bar right side" src="{{ site.baseurl }}/img/squared_metal.png" />
<img class="bar right bottomside" src="{{ site.baseurl }}/img/squared_metal.png" />
<img class="bar left side" src="{{ site.baseurl }}/img/squared_metal.png" />
<img class="bar left bottomside" src="{{ site.baseurl }}/img/squared_metal.png" />

<div id="screen">
  <div class="index-heading">
        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
        <span class="sub-index-heading" id="sub-index-heading">{{ page.description }}</span>
    </div>

    <!-- Main Content -->
    <div class="index-container">
    	<div class="">
    		<div class="">
    			{{ content }}
    		</div>
    	</div>
    </div>

</div>
