---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
    <div style="z-index:100">
        <div style="z-index:100">
            <div style="z-index:100">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</header>

<!-- Main Content -->
<div>
	<div>
		<div>
			{{ content }}
		</div>
	</div>
</div>

<hr>
